<template>
<generic-card>
    <h2>Development of Web application supporting combat mechanics of RPG</h2>
    <br>
    <p class="p-ml-4">University: <b>The Silesian Technical University</b></p>
    <p class="p-ml-4">Field of study: <b>Computer Science</b></p>
    <p class="p-ml-4">Author: <b>Tomasz Kaznaecki</b></p>
    
</generic-card>
<generic-card>
    <h3> Subject</h3>

    <p>The aim of the project is to develop an application supporting the gamemaster in carrying out fighting between players (PC) and other characters (NPC) using the mechanics introduced in the fourth edition of the Warhammer RPG system.
The developed application should follow the existing website (https://rolz.org/). However, it should have additional functionalities that allow to define the basic parameters of NPCs and PCs and weapons they use in order to automate activities such as on calculating the current advantages, hits, critical hits, number and places of wounds received.
The application should be made in a technology that allows it to be easily embedded in free or almost free hosting </p>
</generic-card>

<generic-card>
    <h3>Repository</h3>

    <span><p> Client side: <a href="https://gitlab.com/tekazanecki/warappclient">Gitlab Client repository</a> </p></span>
    <span><p> Server side: <a href="https://gitlab.com/tekazanecki/warappserver">Gitlab Server repository</a> </p></span>
</generic-card>
<generic-card>
    <h3>Documentation</h3>

    <span><p> Files: <a href="">pdf</a> </p></span>
</generic-card>
</template>



<style scoped>
h2, h3 {
    text-align: center;
}
p {
    text-align: justify;
}
</style>