<template>
  <div id="gameroom" class="p-mb-2 p-d-block " >
    <div id="char" class="p-grid p-justify-center">
      <!-- PLAYERS SECTION -->
      <generic-card class="p-col p-mx-2">
        <p class="p-text-center p-mt-0 warhammerHeader ">PLAYER SECTION</p>
        <!-- display of player characters -->
        <div v-if="!(GET_players.length === 0)">
            <stat-box v-for="charStats in GET_players" :key="charStats.userID" 
              @characterCreated="senderUpdatePlayer" 
              @save-char="senderUpdatePlayer"
              @del-char="senderDeletePlayer"
              @edited-at-time="addPlayerCharBox=false"
              @attack-char="senderPlayerHit"
              :character="charStats" :isEditable="false" :isPlayer="true"></stat-box>
        </div>
        <div v-if="addPlayerCharBox">
          <stat-box 
            @cancelAdd="addPlayerCharBox=false"
            @save-char="senderUpdatePlayer"
            :character="GET_emptyPlayer" :isEditable="true" :isPlayer="true"></stat-box>
        </div>
        <!-- button to add character -->
        <div v-if="(!playerHasCharacter && addPlayerCharBox==false && !(GET_userStatus=='gamemaster')) || (GET_userStatus=='gamemaster' && addPlayerCharBox==false && addEnemyCharBox == false)" class="p-d-flex p-jc-center">
          <Button icon="pi pi-plus" @click="addPlayerCharBox=true" class="p-button-rounded p-button-secondary" />
        </div>
      </generic-card >
      <!-- ENEMY SECTION -->
      <generic-card class="p-col p-mx-2">
        <p class="p-text-center p-mt-0 warhammerHeader">ENEMY SECTION</p>
        <!-- display of enemy characters -->
        <div v-if="!(GET_enemies.length === 0)">
          <stat-box v-for="charStats in GET_enemies" :key="charStats.userID" 
              @characterCreated="senderUpdateEnemy" 
              @save-char="senderUpdateEnemy"
              @del-char="senderDeleteEnemy"
              @edited-at-time="addEnemyCharBox=false"
              @attack-char="senderEnemyHit"
              :character="charStats" :isEditable="false" :isPlayer="false" ></stat-box>
        </div>
        <div v-if="addEnemyCharBox">
          <stat-box 
            @cancelAdd="addEnemyCharBox=false" 
            @save-char="senderUpdateEnemy"
            :character="GET_emptyPlayer" :isEditable="true" :isPlayer="false"></stat-box>
        </div>
        <!-- button to add enemy -->
        <div v-if="GET_userStatus=='gamemaster' && addEnemyCharBox == false  && addPlayerCharBox==false" class="p-d-flex p-jc-center ">
          <Button icon="pi pi-plus" @click="addEnemyCharBox=true" class="p-button-rounded p-button-secondary" />
          
        </div>
      </generic-card>
  </div>
  <div>
    <generic-card>
      <p class="p-text-center warhammerHeader">CHAT SECTION</p>
      <battle-log @send-message="senderBattleLog"></battle-log>
    </generic-card>
  </div>
  </div>
</template>

<script>
import StatBox from "./components/StatBox.vue";
import webstomp from 'webstomp-client';
import BattleLog from './components/BattleLog.vue'
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  data() {
    return {
      addPlayerCharBox: false,
      addEnemyCharBox: false,
      conect: false,
      stompClient: null,
      client: null,
    };
  },
  computed: {
    ...mapGetters(['GET_serverAdress', 'GET_serverWSAdress', 'GET_players', 'GET_enemies', 'GET_roomName', 
    'GET_playerName', 'GET_userStatus', 'GET_emptyPlayer', 
    'GET_charToUpdate', 'GET_charToDelete', 'GET_battlelogUpdate', 'GET_combatMessage']),
    playerHasCharacter() {
      var found = false;
      for(var i = 0; i < this.GET_players.length; i++) {
      if (this.GET_players[i].user == this.GET_playerName) {
          found = true;
          break;
        }
      }
      return found;
      }
  },
  components: {
    BattleLog,
    StatBox
    },
  methods: {
    ...mapMutations (['ADD_toBattlelog', 'ADD_player', 'ADD_Enemy', 'SET_gamemasterAsOwner', 'SET_userAsOwner', 'SET_emptyCharName', 'incgmNewCharNumber', 'SET_specificPlayer', 'SET_specificEnemy', 'SET_playerAttributes', 'SET_enemyAttributes']),
    ...mapActions (['ACTION_leaveRoom']),
      connect() {
          this.client = webstomp.client(this.GET_serverWSAdress + "/gs-guide-websocket");
          this.client.connect({}, () => {
              // ------------------------------- BATTLELOG ----------------------------------------------------------
              const subscribeURLbattlelog = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/battlelog"
              this.client.subscribe(subscribeURLbattlelog, (payload) => {
                this.ADD_toBattlelog(payload.body);
              });
              // ------------------------------- COMBAT ----------------------------------------------------------
              const subscribeURLplayerhit = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/playerhit"
              this.client.subscribe(subscribeURLplayerhit, (payload) => {
                  console.log("RETURN: " + payload.body)
                  const answer = JSON.parse(payload.body);
                  for(var i = 0; i < this.GET_enemies.length; i++) {
                  if (this.GET_enemies[i].charName == answer.defenderCharName) {
                      console.log("--------------- atak na " +  answer.defenderCharName + answer.attackerStatus + answer.currentAttackerWounds);
                      this.SET_enemyAttributes({
                          index: i,
                          status: answer.defenderStatus,
                          currentHealth: answer.currentDefenderWounds,
                          critics: answer.inDefenderCriticalHit,
                      });
                    }
                    }
                    for(i = 0; i < this.GET_players.length; i++) {
                    if (this.GET_players[i].charName == answer.attackerCharName) {
                        this.SET_playerAttributes({
                            index: i,
                            status: answer.attackerStatus,
                            currentHealth: answer.currentAttackerWounds,
                            critics: answer.inAttackerCriticalHit,
                        })
                    }
                    }
              
                  
                  this.ADD_toBattlelog(answer.battleLog);
                  
              });
              const subscribeURLenemyhit = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/enemyhit"
              this.client.subscribe(subscribeURLenemyhit, (payload) => {
                  console.log("RETURN: " + payload.body)
                  const answer = JSON.parse(payload.body);
                  for(var i = 0; i < this.GET_enemies.length; i++) {
                  if (this.GET_players[i].charName == answer.defenderCharName) {
                      this.SET_playerAttributes({
                          index: i,
                          status: answer.attackerStatus,
                          currentHealth: answer.currentAttackerWounds,
                          critics: answer.inDefenderCriticalHit,
                      });
                    }
                    }
                    for(i = 0; i < this.GET_players.length; i++) {
                    if (this.GET_enemies[i].charName == answer.attackerCharName) {
                        this.SET_enemyAttributes({
                            index: i,
                            status: answer.defenderStatus,
                            currentHealth: answer.currentDefenderWounds,
                            critics: answer.inAttackerCriticalHit,
                        })
                    }
                    }
              
                  
                  this.ADD_toBattlelog(answer.battleLog);
                  
              });
              // ------------------------------- CHARACTER CRUD ----------------------------------------------------------
              const subscribeURLupdatePlayer = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/updatePlayer"
              this.client.subscribe(subscribeURLupdatePlayer, (payload) => {
                    var updateCharacter = JSON.parse(payload.body);
                    var found = false;
                    if(this.GET_players.length > 0){
                    for(var i = 0; i < this.GET_players.length; i++) {
                      if (this.GET_players[i].charName == updateCharacter.charName) {
                          this.SET_specificPlayer({ index: i, character: updateCharacter})
                          found = true;
                          break;
                      }
                    }
                    }
                    if(!found){
                          this.ADD_player(updateCharacter);
                      }
                    }
                );
                const subscribeURLupdateEnemy = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/updateEnemy"
                this.client.subscribe(subscribeURLupdateEnemy, (payload) => {
                    
                    var updateCharacter = JSON.parse(payload.body);
                    
                    var found = false;
                    if(this.GET_enemies.length > 0){
                    for(var i = 0; i < this.GET_enemies.length; i++) {
                      if (this.GET_enemies[i].charName == updateCharacter.charName) {
                          this.SET_specificEnemy({ index: i, character: updateCharacter})
                          found = true;
                          break;
                      }
                    }
                    }
                    if(!found) {this.ADD_Enemy(updateCharacter); }
                    }
                );
              const subscribeURLdeletePlayer = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/deletePlayer"
              this.client.subscribe(subscribeURLdeletePlayer, (payload) => {
                const i = this.GET_players.findIndex(char => char.charName == payload.body);
                this.$store.commit('DEL_specificPlayer', i);
              });
              const subscribeURLdeleteEnemy = "/WarApp/generalroom/" + this.GET_roomName + "/gameroom/deleteEnemy"
              this.client.subscribe(subscribeURLdeleteEnemy, (payload) => {
                const i = this.GET_enemies.findIndex(char => char.charName == payload.body);
                this.$store.commit('DEL_specificEnemy', i);
              });
          });
      },      
      disconnect() {
        this.ACTION_leaveRoom(this.GET_gameroom.name);
      },
      // ------------------------------- BATTLELOG ----------------------------------------------------------
      senderBattleLog() {
          const payload = this.GET_battlelogUpdate;
          const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendbattlelog"
          this.client.send(sendURL, JSON.stringify(payload));
      },
      // ------------------------------- COMBAT ----------------------------------------------------------
      senderPlayerHit() {
        const payload = this.GET_combatMessage;
        const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendplayerhit"
        this.client.send(sendURL, JSON.stringify(payload));
      },
      senderEnemyHit() {
        const payload = this.GET_combatMessage;
        const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendplayerhit"
        this.client.send(sendURL, JSON.stringify(payload));
      },

      // ------------------------------- CHARACTER CRUD ----------------------------------------------------------
      senderUpdatePlayer() {
          this.addPlayerCharBox = false;
          const payload = this.GET_charToUpdate;
          const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendUpdatePlayer"
          this.client.send(sendURL, JSON.stringify(payload));
      },
      senderUpdateEnemy() {
          this.addEnemyCharBox = false;
          const payload = this.GET_charToUpdate;
          const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendUpdateEnemy"
          this.client.send(sendURL, JSON.stringify(payload));
      },
      senderDeletePlayer() {
          const payload = this.GET_charToDelete;
          const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendDeletePlayer";
          this.client.send(sendURL, JSON.stringify(payload));
      },
      senderDeleteEnemy() {
          const payload = this.GET_charToDelete; 
          const sendURL = "/app/generalroom/" + this.GET_roomName + "/gameroom/sendDeleteEnemy"
          this.client.send(sendURL, JSON.stringify(payload));
      },
      // addPlayerToList() {
      //   this.decorateNewCharacter();
      //   this.ADD_player(this.GET_emptyPlayer); 
      // },
      // addEnemyToList() {
      //   this.decorateNewCharacter();
      //   this.ADD_Enemy(this.GET_emptyPlayer);
      // },
      // decorateNewCharacter(){
      //   if(this.GET_userStatus == "gamemaster"){
      //     this.SET_gamemasterAsOwner();
      //   } else {
      //     this.SET_userAsOwner(this.GET_playerName);
      //   }
      // }
      },
  mounted() {
    this.connect();

  }
}

</script>

<style lang="scss">
.p-button-secondary {
    background-color: #20201f !important;   
    border: #20201f !important;
     
  }
</style>
