<template>
  <section>
    
    <div v-if="!GET_exist" id="roomNotFound">
        <h1 class="p-text-center warhammerHeader"> Room not Found </h1>
    </div>
    <div v-else id="roomFound">
      <div id="roomNameDiv">
        <h1 class="p-text-center warhammerHeader">{{ GET_gameroom.name }}</h1>
      </div>
      <div id="gamemaster">
        <h4 class="p-text-center warhammerHeader">
          Gamemaster: {{ GET_gameroom.gameMaster }}
        </h4>
        <h4 v-if="GET_userStatus === 'player'" class="p-text-center warhammerHeader" > Player: {{ GET_playerName }}</h4>
      </div>
      <router-view></router-view>
      <div class="gameroomClass p-d-flex p-jc-center">
        <generic-button @click="goToHomepage"> Leave </generic-button>
        <generic-button v-if="GET_userStatus=='gamemaster'" @click="closeRoom"> Close Room </generic-button>
        <generic-button v-show="GET_isInRoom" @click="refreshRoom"> Refresh </generic-button>
        <generic-button v-show="!GET_isInRoom" @click="goToGameroom"> Go to play </generic-button>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  computed: {
    ...mapGetters(["GET_gameroom","GET_isInRoom", "GET_playerName", "GET_exist", "GET_userStatus"]),
    gameroomLink() {
      return "/generalroom/" + this.GET_gameroom.name + "/gameroom";
    }
  },
  methods: {
    ...mapMutations(["SET_isInRoom"]),
    ...mapActions(['ACTION_getRoom', 'ACTION_closeRoom', 'ACTION_leaveRoom']),
    goToGameroom() {
      this.SET_isInRoom(true);
      this.$router.push(this.gameroomLink);
    },
    goToHomepage() {
      this.ACTION_leaveRoom(this.GET_gameroom.name);
    },
    refreshRoom() {
      this.ACTION_getRoom(this.GET_gameroom.name);
    },
    closeRoom() {
      this.ACTION_closeRoom(this.GET_gameroom.name);
    }
  },
  mounted() {
    if(this.GET_isInRoom) {
      this.goToGameroom();
    }
  }
};
</script>