<template>
<div id="homeRoom" >
  
    <div id="roomInteraction" class="p-d-flex p-jc-center" >
        <div class="p-ml-5 roomInteraction">        
            <create-room></create-room>
        </div>
        <div  class="p-mr-5 roomInteraction">
            <join-room></join-room>
        </div>
    </div>
    <section class="p-d-flex p-jc-center">
        <room-list></room-list>
    </section>
    
</div>
</template>

<script>
import { mapActions } from 'vuex';

import CreateRoom from './components/CreateRoom.vue';
import JoinRoom from './components/JoinRoom.vue';
import RoomList from './components/RoomList.vue';

export default {
    components: {
        'create-room': CreateRoom,
        'join-room' : JoinRoom,
        'room-list' : RoomList
    },
    methods:{
      ...mapActions(['ACTION_getPresetItems']),
    },
    created(){
      this.ACTION_getPresetItems();
    },
}
</script>

<style scoped>
.roomInteraction{
    width: 350px;
}

.p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-dialog .p-button {
    min-width: 6rem;
}
</style>

<style lang="scss">
.p-message-success {
    background-color: #216123 !important;   
    
  }
.p-message-success .p-message-text{
  color: #c8e6c9 !important;
}
.p-message-success .p-message-icon{
  color: #c8e6c9 !important;
}
.p-message-error {
    background-color: #9d0212 !important;   
  }
.p-message-error .p-message-text{
  color: #FFCDD2 !important;
}
.p-message-error .p-message-icon{
  color: #FFCDD2 !important;
}
</style>
