<template>
    <div :class="containerClass" v-if="visible">
        <slot>
            <span :class="iconClass" v-if="icon"></span>
            <div class="p-chip-text" v-if="label">{{label}}</div>
            <span v-if="removable" tabindex="0" :class="removeIconClass" 
                @click="close(this.index)"></span>
        </slot>
    </div>
</template>

<script>
export default {
    emits: ['remove'],
    props: {
        label: {
            type: String,
            default: null
        },
        icon: {
            type: String,
            default: null
        },
        removable: {
            type: Boolean,
            default: false
        },
        removeIcon: {
            type: String,
            default: 'pi pi-times-circle'
        },
        index:{
            type: Number,
            default: 0
        }    
    }, 
    data() {
        return {
            visible: true
        }
    },
    methods: {
        close(index) {
            this.$emit('remove', index);
        }
    },
    computed: {
        containerClass() {
            return ['p-chip p-component'];
        },
        iconClass() {
            return ['p-chip-icon', this.icon];
        },
        removeIconClass() {
            return ['pi-chip-remove-icon', this.removeIcon];
        }
    }
}
</script>

<style>
.p-chip {
    display: inline-flex;
    align-items: center;
}
.p-chip-text {
    line-height: 1.5;
}
 
.p-chip-icon.pi {
    line-height: 1.5;
}
.pi-chip-remove-icon {
    line-height: 1.5;
    cursor: pointer;
}
</style>