<template>
    <header>
        <nav class="p-grid">
           <div class="p-col-5">
            <h1 ><router-link to='/' class="warhammerHeader">Warhammer Battle App</router-link></h1>
           </div>
           <div class="p-col-2">
  
           </div>
           <div class="p-col-5 p-my-3" >
             <router-link to='/' class="warhammerHeader">Homeroom</router-link>
             <router-link :to="gameroomLink" class="warhammerHeader">Gameroom</router-link>
             <router-link to='/about' class="warhammerHeader">About</router-link>
             <router-link v-if="GET_exist" @click="logout" to='/' class="warhammerHeader">Logout</router-link>
            </div>
        </nav>
    </header>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  computed:{
    ...mapGetters(['GET_exist', 'GET_roomName', 'GET_isInRoom']),
    gameroomLink() {
      if(this.GET_exist && this.GET_isInRoom){
        return "/generalroom/" + this.GET_roomName + "/gameroom";
      } else {
        return "/";
      }
    }
  },
  methods:{
    ...mapActions(['ACTION_leaveRoom']),
    logout() {
      this.ACTION_leaveRoom(this.GET_roomName);
    },

  }
}
</script>

<style scoped>
header {
  width: 100%;
  height: auto;
  background-color: #20201f;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.75rem 1.5rem;
}


h1 {
  margin: 0;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  border-color: transparent;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

</style>