<template>
    <button v-if="!link" :class="mode">
        <slot ></slot>
    </button>
    <router-link v-else :to="destination" :class="mode" >
        <slot ></slot>
    </router-link>
</template>

<script>

export default {
    props: {
        mode: {
            type: String,
            required: false,
            default: null
        },
        link: {
            type: Boolean,
            required: false,
            default: false
        },
        destination: {
            type: String,
            required: false,
            default: '/'
        },
    },
}

</script>

<style scoped>
button,
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  background-color: #20201f;
  border: 1px solid #20201f;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-block;
}

a:hover,
a:active,
button:hover,
button:active {
  background-color: #3b3b3b;
  border-color: #20201f;
}

.flat {
  background-color: transparent;
  color: #20201f;
  border: none;
}

.outline {
  background-color: transparent;
  border-color: #20201f;
  color: #20201f;
}

.flat:hover,
.flat:active,
.outline:hover,
.outline:active {
  background-color: #2c2b2c28;
}
</style>