<template>
  <section>
        <div class="container" ref="container">
      <div class="p-my-2" v-for="(entry, index) in GET_battlelog" :key="index">
          <span class="p-my-2" v-html="entry"> </span>

      </div>
      </div>
    <br />
    <div>
      <span  class="p-input-icon-right" style="width: 100%">
        <label for="roomNameInput" class="p-sr-only" v-show="hide">Room Name</label>
        <InputText
          id="roomNameInput" style="width: 100%"
          v-on:keyup.enter="sendMessage"
          v-model="message"
          type="text"
          placeholder="message"
        />
        <i @click="sendMessage" class="pi pi-send" />
      </span>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  data() {
    return {
      hide: false,
      message: "",
    };
  },
  methods: {
    sendMessage() {
      this.$store.commit("SET_battleLogUpdate", {
        sender: this.GET_playerName,
        status: this.GET_userStatus,
        message: this.message,
      });
      this.message = "";
      this.$emit("send-message");
    },
    scrollToEnd() {
      var content = this.$refs.container;
      content.scrollTop = content.scrollHeight;
    },
  },
  computed: {
    ...mapGetters(['GET_playerName', 'GET_userStatus', 'GET_battlelog']),
  },
  updated() {
    this.scrollToEnd();
  },
  mounted() {
    this.scrollToEnd();
  },
};
</script>

<style scoped>
.container {
  overflow-y: scroll;
  height: 205px;
  padding: 5px;
}

</style>