<template>
    <generic-card>
        <div v-if="edit === false && isEditable === false">
            
            <span class="p-grid">
                <p class="p-col-6 p-my-1"><b> Character:  </b>{{character.charName }}</p>
                <p class="p-col-2"></p>
                <p class="p-col-4 p-my-1"><b> User:  </b>{{character.user }}</p>
                
            </span>
            <span class="p-grid">
                <p class="p-col-4 p-my-1"><b> Weapon:  </b>{{character.weapon}}</p>
                <p class="p-col-4 p-my-1"><b> Armor:  </b>{{character.armor }}</p>
                <p class="p-col-4 p-my-1"><b> Status:  </b>{{character.status }}</p>
            </span>
            <generic-button v-if="!show" @click="showChar">Show Character</generic-button>
            <generic-button v-if="show" @click="showChar">Hide Character</generic-button>
            <!-- <generic-button @click="chngPlyer">USER</generic-button>
            <generic-button @click="chngMG">GM</generic-button> -->
            <div v-if='show'> 
                    <table class="p-mt-3" style="width:100%">
                        <tr>
                            <th>WS</th>
                            <th>BS</th>
                            <th>S</th>
                            <th>T</th>
                            <th>I</th>
                            <th>Ag</th>
                            <th>Dex</th>
                            <th>Int</th>
                            <th>WP</th>
                            <th>Fel</th>
                        </tr>
                        <tr>
                            <td>{{character.charAttr[0]}}</td>
                            <td>{{character.charAttr[1]}}</td>
                            <td>{{character.charAttr[2]}}</td>
                            <td>{{character.charAttr[3]}}</td>
                            <td>{{character.charAttr[4]}}</td>
                            <td>{{character.charAttr[5]}}</td>
                            <td>{{character.charAttr[6]}}</td>
                            <td>{{character.charAttr[7]}}</td>
                            <td>{{character.charAttr[8]}}</td>
                            <td>{{character.charAttr[9]}}</td>
                        </tr>
                    </table>
                    <div class="p-d-flex p-my-0 p-jc-center p-ai-center">
                        <i class="pi pi-users p-mr-1"></i><p class="p-mr-4"> Melee: {{character.charSkill[0]}}</p>
                        <i class="pi pi-eye p-mr-1"></i><p> Ranged: {{character.charSkill[1]}}</p>
                    </div>
                   <span class="p-grid p-mt-0 p-mb-0">
                        <p class="p-col-2 p-my-0"><b> Wounds:  </b>{{character.wounds }}</p>
                        <p class="p-col-4 p-my-0"><b> Current Wounds:  </b>{{character.currentHealth }}</p>
                    </span>
                    <h4 class="p-my-0"> Critical wounds: </h4>
                    <p  v-if="!showCritical" class="p-mt-0"> none </p>
                    <div v-if="showCritical">
                        <critical-chip  v-for="(status, index) in character.criticalWounds" :key="index" :index="index" :label="status.description + ': ' + status.effect" icon="pi pi-exclamation-triangle" class="p-mr-2 p-mt-1 custom-chip" />
                    </div>
            </div>
            <div v-if="this.character.user == this.GET_playerName || this.GET_userStatus == 'gamemaster'" class="p-mt-2">
                <generic-button :disabled="!attackButtonActivation" @click="attack">Attack</generic-button>
                <generic-button v-if="!edit" @click="editChar">Edit</generic-button>
                <generic-button v-else @click="saveChar">Save</generic-button>
                <generic-button @click="delEditChar">Delete</generic-button>
                <div v-if="attackButtonClicked" class="p-d-flex p-mt-2 p-ai-center p-jc-center">
                    <p>Attacker Mod</p>
                    <InputNumber class="inNum p-mx-2"  inputStyle="width:45px; height:25px; text-align: center" v-model="attackerMod" mode="decimal" :min="-100" :max="100" />
                    <div v-if="isPlayer">
                        <Dropdown  class="p-mx-2" :class="enemyNeded" v-model="selectedTarget" :options="GET_enemies" optionLabel="charName" placeholder="Choose Target" />                
                    </div>
                    <div v-else >
                        <Dropdown class="p-mx-2"  :class="enemyNeded" v-model="selectedTarget" :options="GET_players" optionLabel="charName" placeholder="Choose Target" />                
                    </div>
 
                    <InputNumber class="inNum  p-mx-2"  inputStyle="width:45px; height:25px; text-align: center" v-model="defenderMod" mode="decimal" :min="-100" :max="100" />                                  
                   <p> Defender Mod</p>
                </div>
            </div>
        </div>
        <div v-else>
                <div v-if="showError">
                    <Message class="small" v-if="charNameError === 'nameExist'" :severity="message.nameExist.severity"  :life="3000" :sticky="false"> {{message.nameExist.content}} </Message>
                    <Message v-if="charNameError === 'specialSign'" :severity="message.specialSign.severity"  :life="3000" :sticky="false"> {{message.specialSign.content}} </Message>
                    <Message v-if="charNameError === 'toShort'" :severity="message.toShort.severity"  :life="3000" :sticky="false"> {{message.toShort.content}} </Message>
                    <Message v-if="charNameError === 'toLong'" :severity="message.toLong.severity"  :life="3000" :sticky="false"> {{message.toLong.content}} </Message>
                    <Message v-if="charNameError === 'characterSave'" :severity="message.characterSave.severity"  :life="3000" :sticky="false"> {{message.characterSave.content}} </Message>
                </div>
        <span class="p-grid p-ai-center">

                <span class="p-col-8 p-my-1"><b> Character:  </b><InputText :class="validation" style="width: 150px; height: 30px" type="text" v-model="tmpCharacter.charName"/></span>
                <span class="p-col-4 p-my-1"><p><b> User:  </b>{{tmpCharacter.user}}</p></span>
                
                
            </span>
            <span class="p-grid">
                <div class="p-col-4 p-my-1 p-d-flex p-flex-column">
                <p class="p-mb-1"><b> Weapon:  </b></p>
                <Dropdown v-model="selectedWeapon" :options="GET_weapons" optionLabel="name" :placeholder="tmpCharacter.weapon" />
                </div>
                <div class="p-col-4 p-my-1 p-d-flex p-flex-column">
                <p class="p-mb-1"><b> Armor:  </b></p>
                <Dropdown v-model="selectedArmor" :options="GET_armors" optionLabel="name" :placeholder="tmpCharacter.armor" />
               </div>
                <div class="p-col-4 p-my-1 p-d-flex p-flex-column">
                <p class="p-mb-1"><b> Status:  </b></p>
                <Dropdown v-model="selectedStatus" :options="GET_status" optionLabel="name" :placeholder="tmpCharacter.status" />                
                </div>

            </span>
            <generic-button v-if="!show" @click="showChar">Show Character</generic-button>
            <generic-button v-if="show" @click="showChar">Hide Character</generic-button>
            <div v-if='show'> 
                    <table class="p-mt-3" style="width:100%">
                        <tr>
                            <th>WS</th>
                            <th>BS</th>
                            <th>S</th>
                            <th>T</th>
                            <th>I</th>
                            <th>Ag</th>
                            <th>Dex</th>
                            <th>Int</th>
                            <th>WP</th>
                            <th>Fel</th>
                        </tr>
                        <tr>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[0]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[1]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[2]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[3]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[4]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[5]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[6]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[7]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[8]" mode="decimal" :min="5" :max="95" /></td>
                            <td> <InputNumber  inputStyle="width:40px; height:25px; text-align: center" class="inNum" v-model="tmpCharacter.charAttr[9]" mode="decimal" :min="5" :max="95" /></td>
                            
                        </tr>
                    </table>
                    <div class="p-d-flex p-my-0 p-jc-center p-ai-center">
                        <i class="pi pi-users p-mr-1"></i><p> Melee: </p><InputNumber class="p-mr-4"  inputStyle="width:40px; height:20px; text-align: center"  v-model="tmpCharacter.charSkill[0]" mode="decimal" :min="0" :max="95" />
                        <i class="pi pi-eye p-mr-1"></i><p> Ranged: </p><InputNumber  inputStyle="width:40px; height:20px; text-align: center" v-model="tmpCharacter.charSkill[1]" mode="decimal" :min="0" :max="95" />
                    </div>
                        <p class="p-col-2 p-my-0"><b> Wounds:  </b>{{calculatedWounds }}</p>
                    <span class="p-grid p-mt-0 p-mb-0 p-ai-center">
                        <p class="p-col-3 p-my-0"><b> Current wounds:  </b></p>
                        <InputNumber class="p-col-1" inputStyle="width:40px; " 
                        v-model="tmpCharacter.currentHealth" mode="decimal" showButtons :min="0" 
                        :max="calculatedWounds" 
                        decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" />
                    </span>
                    <h4 class="p-my-0"> Critical wounds: </h4>
                    <p  v-if="character.criticalWounds.length === 0" class="p-mt-0"> none </p>
                    <critical-chip v-else v-for="(status, index) in tmpCharacter.criticalWounds" :key="index" :index="index" :label="status.description + ': ' + status.effect" icon="pi pi-exclamation-triangle" class="p-mr-2 p-mt-1 custom-chip" removable @remove="removeCritic"/>
                    
    </div>
                    
                    <div v-if="this.character.user == this.GET_playerName || this.GET_userStatus == 'gamemaster'" class="p-mt-2">
                        <div v-if="isEditable == true">
                            <generic-button @click="createChar">Create Character</generic-button>
                            <generic-button @click="this.$emit('cancelAdd'); edit=false">Cancel</generic-button>
                        </div>
                        <div v-else>
                            <generic-button @click="saveChar">Save</generic-button>
                            <generic-button @click="this.$emit('cancelAdd'); edit=false">Don't Save</generic-button>
                        </div>
                    </div>
    </div>

    </generic-card>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import GenericButton from '../../../components/genericUI/GenericButton.vue';
import CriticalChip from '../../../components/prime/CriticalChip.vue';

export default {
  components: { GenericButton, CriticalChip },
    props: ['character', 'isEditable', 'isPlayer'],
    data() {
        return {
            message: {
                nameExist: {severity: 'error', content: 'Name alredy exist'},
                specialSign: {severity: 'error', content: 'Name cannot have special signs'},
                toShort: {severity: 'error', content: 'Name must be longer than 4 characters'},
                toLong: {severity: 'error', content: 'Name can have lenght to 30 characters'},
                characterSave: {severity: 'success', content: 'character updated'}
            },
            edit: false,
            show: false,
            originalName: null,
            tmpCharacter: null,
            selectedWeapon: null,
            selectedArmor: null,
            selectedStatus: null,
            attackButtonClicked: false,
            selectedTarget: "",
            validation: "",
            enemyNeded: "",
            charNameError: "",
            showError: false,
            attackerMod: 0,
            defenderMod: 0
        }
    }, 
    computed: {
        ...mapGetters(['GET_playerName', 'GET_userStatus', 
        'GET_players','GET_enemies',
        'GET_weapons', 'GET_armors', 'GET_status' 
        ]),
        charStats() {
            if(this.charType == 'player'){
                return this.GET_players.find(player => player.charName===this.character.charName);
            } else {
                return this.GET_enemies.find(enemy => enemy.charName===this.character.charName);
            }      
        },
        calculatedWounds(){
            return this.tmpCharacter.charAttr[2]/10 + this.tmpCharacter.charAttr[3]/5 + this.tmpCharacter.charAttr[8]/10;
        },
        attackButtonActivation(){
            if(this.attackButtonClicked === false){
                return true;
            } else if(this.attackButtonClicked === true && this.selectedTarget === ""){
                return false;
            } else {
                return true;
            }
        },
        showCritical() {
            if(this.character.criticalWounds.length >0){
                return true;
            }else{
                return false;}
            }
    },
    methods:{
        ...mapMutations(['decgmNewCharNumber', 
        'SET_playerName', 'SET_gamemaster',
        'SET_charWeapon', 'SET_charArmor', 'SET_charStatus', 'SET_emptyCharWounds', 
        'SET_charToRemove', 'SET_charToUpdate', 'SET_combatMessageUpdate', 
        'SET_gamemasterAsOwner', 'SET_userAsOwner']),
        showChar(){
            this.show = !this.show;
        },
        editChar(){
            this.$emit('edited-at-time');
            this.edit = true;
            if(this.isEditable == false){
                this.tmpCharacter = JSON.parse( JSON.stringify( this.character));
            }
        },
        removeCritic(i){
            this.tmpCharacter.criticalWounds.splice(i, 1);
        },
        saveChar(){
            var index = null;
            var found = false;
            var duplicate = false;
            var player = true;
            for(var i = 0; i < this.GET_players.length; i++) {
                if(this.GET_players[i].charName == this.originalName){
                    index = this.GET_players.indexOf(this.GET_players[i]);
                    found = true;
                }
            }
            if(!found){
                for(i = 0; i < this.GET_enemies.length; i++) {
                if(this.GET_enemies[i].charName == this.originalName){
                    index = this.GET_enemies.indexOf(this.GET_enemies[i]);
                    found = true;
                    player = false;
                }
            }
            } 
            for( i = 0; i < this.GET_players.length; i++) {
                if(player == true && i == index){
                    continue;
                }
                if(this.GET_players[i].charName == this.tmpCharacter.charName){
                    duplicate = true;
                }
            }
            if(!found){
                for(i = 0; i < this.GET_enemies.length; i++) {
                if(player == false && i == index){
                    continue;
                }
                if(this.GET_enemies[i].charName == this.tmpCharacter.charName && i != index){
                    duplicate = true;
                }
            }
            } 
            if(duplicate){
                this.charNameError = "nameExist";
                this.validation = "p-invalid";
            }
            else if(this.tmpCharacter.charName.length < 4 ){
                this.charNameError = "toShort";
                this.validation = "p-invalid";
            }
            else if(this.tmpCharacter.charName.length > 30) {
                this.charNameError = "toLong";
                this.validation = "p-invalid";
            }
            else if(/[;,.`~!@#$%^&*()+=/?<>]/.test(this.tmpCharacter.charName)){
                this.charNameError = "specialSign";
                this.validation = "p-invalid";
            } else {
                this.edit = false;
                console.log(this.calculatedWounds);
                this.tmpCharacter.wounds = this.calculatedWounds;
                if(this.tmpCharacter.currentHealth > this.tmpCharacter.wounds) {this.tmpCharacter.currentHealth = this.calculatedWounds;}
                this.SET_charToUpdate(this.tmpCharacter);
                if(!(this.selectedWeapon == null)) this.SET_charWeapon(this.selectedWeapon.name);
                if(!(this.selectedArmor == null)) this.SET_charArmor(this.selectedArmor.name);
                if(!(this.selectedStatus == null)) this.SET_charStatus(this.selectedStatus.name);
                this.$emit('save-char');
                if(!(this.originalName == this.tmpCharacter.charName)){
                    this.SET_charToRemove(this.originalName);
                    this.$emit('del-char')
                }
                this.charNameError = "characterSave";

            }
            this.showError = true;
            setTimeout(()=> this.showError = false, 3000);
        },

        createChar(){
            var found = false;
            for(var i = 0; i < this.GET_players.length; i++) {
                if(this.GET_players[i].charName == this.tmpCharacter.charName){
                    found = true;
                }
            }
            if(!found){
                for(i = 0; i < this.GET_enemies.length; i++) {
                if(this.GET_enemies[i].charName == this.tmpCharacter.charName){
                    found = true;
                }
            }
            } 
            if(found){
                this.charNameError = "nameExist";
                this.validation = "p-invalid";
            }
            else if(this.tmpCharacter.charName.length < 4 ){
                this.charNameError = "toShort";
                this.validation = "p-invalid";
            }
            else if(this.tmpCharacter.charName.length > 30) {
                this.charNameError = "toLong";
                this.validation = "p-invalid";
            }
            else if(/[;,.`~!@#$%^&*()+=/?<>]/.test(this.tmpCharacter.charName)){
                this.charNameError = "specialSign";
                this.validation = "p-invalid";
            } else {
                this.edit = false;
                this.SET_charToUpdate(this.tmpCharacter);
                this.SET_emptyCharWounds(this.calculatedWounds);
                if(!(this.selectedWeapon == null)) this.SET_charWeapon(this.selectedWeapon.name);
                if(!(this.selectedArmor == null)) this.SET_charArmor(this.selectedArmor.name);
                if(!(this.selectedStatus == null)) this.SET_charStatus(this.selectedStatus.name);
                this.$emit('save-char');
                this.charNameError = "characterSave";
            }
            this.showError = true;
            setTimeout(()=> this.showError = false, 3000);
        },
        chngPlyer(){
            this.SET_playerName("Tomasz");
        },
        chngMG(){
            this.SET_gamemaster("Rom");
        },
        delEditChar(){
            this.SET_charToRemove(this.character.charName);
            this.$emit('del-char')
        },
        attack(){
            if(this.attackButtonClicked == false){
                this.attackButtonClicked = true;
                this.enemyNeded = "p-invalid";
            } else {
                this.attackButtonClicked = false;
                this.enemyNeded = "";
                this.SET_combatMessageUpdate({
                    initializer: this.GET_userStatus,
                    attackerName: this.tmpCharacter.charName,
                    attackerMod: this.attackerMod,
                    defenderName: this.selectedTarget.charName,
                    defenderMod: this.defenderMod
                    });
                this.$emit('attack-char')
                console.log("atak");
            }
        },

    },
    created() {
        this.tmpCharacter = JSON.parse( JSON.stringify( this.character ) )
        },
    mounted(){
        if(this.GET_userStatus === "gamemaster"){
            this.SET_gamemasterAsOwner();
        }else{
            this.SET_userAsOwner(this.GET_playerName);
        }
        this.originalName = this.character.charName;
    }
        
    }
    
</script>

<style scoped>
th, td {
    width: 40px;
    border: 1px solid black;
    text-align: center;
}

/* .inNum{

} */
</style>