<template>
  <the-header></the-header>
  <router-view></router-view>
</template>

<script>
</script>

<style>
@font-face {
  font-family: "WarhammerFont";
  src: local("WarhammerFont"),
   url(./fonts/CaslonAntiquePLporpg.ttf) format("truetype");
}

.warhammerHeader {
   font-family: "WarhammerFont";
}

</style>