<template>
   <generic-card class="p-m-3">
   <form>
        <h1 class="p-text-center warhammerHeader"> Create Room </h1>
         <div class="p-formgroup-block ">
        <div class="p-field p-d-flex p-jc-center">
          <label for="gamemaster" class="p-sr-only" v-show="hide">Gamemaster</label>
          <InputText id="gamemaster" @change="changeRoom" v-model.trim="gamemaster" type="text" placeholder="Gamemaster" />
        </div>
        <div class="p-field p-d-flex p-jc-center">
          <label for="roomname" class="p-sr-only" v-show="hide">Roomname</label>
          <InputText id="roomname" @change="changeRoom" v-model.trim="roomName" type="text" placeholder="Room Name" />
        </div>
        <div id="buttonsJoin" class="p-d-flex p-jc-center">
          <generic-button mode="outline" type="button" @click="checkRoom" >Check</generic-button>
          <generic-button :disabled="!canCreate" type="button" @click="createRoom">
            Create <i v-if="canCreate" class="pi pi-check"></i>
            </generic-button>
        </div>
         <div v-if="showMessage">
          <Message v-if="roomStatus === 'canCreate'" :severity="message.success.severity" :life="3000" :sticky="false"> {{message.success.content}} </Message>
          <Message v-if="roomStatus === 'roomExist'" :severity="message.error.severity"  :life="3000" :sticky="false"> {{message.error.content}} </Message>
          <Message v-if="roomStatus === 'emptyGM'" :severity="message.emptyGM.severity"  :life="3000" :sticky="false"> {{message.emptyGM.content}} </Message>
          <Message v-if="roomStatus === 'nameEmpty'" :severity="message.emptyRoomName.severity"  :life="3000" :sticky="false"> {{message.emptyRoomName.content}} </Message>
          <Message v-if="roomStatus === 'partOfRoom'" :severity="message.partOfRoom.severity"  :life="3000" :sticky="false"> {{message.partOfRoom.content}} </Message>
          <Message v-if="roomStatus === 'noSpecialSigns'" :severity="message.noSpecialSigns.severity"  :life="3000" :sticky="false"> {{message.noSpecialSigns.content}} </Message>
          <Message v-if="roomStatus === 'toLong'" :severity="message.toLong.severity"  :life="3000" :sticky="false"> {{message.toLong.content}} </Message>
         </div>
      </div>
   </form>
   </generic-card>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
export default {
  data() {
    return {
      message: {
        success: {severity: 'success', content: 'Room Name Correct'},
        error: {severity: 'error', content: 'Room Alredy Exist'},
        emptyRoomName: {severity: 'error', content: 'Room Need Name'},
        emptyGM: {severity: 'error', content: 'GM Need Name'},
        partOfRoom: {severity: 'error', content: 'You already Part of Room'},
        noSpecialSigns: {severity: 'error', content: 'Name cannot have special sign'},
        toLong: {severity: 'error', content: 'Name can have lenght to 30 characters'}
      },
      gamemaster: '',
      roomName: '',
      roomStatus: '',
      showMessage: false,
      hide: false,
      canCreate: false
    }
  },
  computed: {
    ...mapGetters(['GET_gameroomList','GET_gameroom', 'GET_exist', 'GET_serverAdress']),
    roomLink() {
      return "/generalroom/" + this.roomName;
    }
  },
  methods: {
    ...mapMutations(['SET_playerName','SET_gamemaster', 'SET_exist', 'SET_roomList', 'SET_gameRoom']),
    ...mapActions(['ACTION_getRoom']),
    createRoom() {
      this.SET_gameRoom({ 
        id: this.roomName + "001",
        name: this.roomName,
        gameMaster: this.gamemaster
       });
       this.SET_playerName(this.gamemaster);
       this.SET_gamemaster(this.gamemaster);
       this.SET_exist(true);
       this.postGameroom();
       this.$router.push(this.roomLink);
    },
    checkRoom() {
      this.axios.get(this.GET_serverAdress + "/roomList")
      .then(response => {
        this.SET_roomList(response.data);
        if (this.roomName === ''){
          this.roomStatus = 'nameEmpty';
        }
        else if (this.gamemaster === ''){
          this.roomStatus = 'emptyGM';
        }
        else if(this.GET_gameroomList.includes(this.roomName)){
          this.roomStatus = 'roomExist';
        }
        else if(this.GET_exist == true){
          this.roomStatus = 'partOfRoom';
        }
        else if(/[;,.`~!@#$%^&*()+=/?<>]/.test(this.roomName) || /[;,.`~!@#$%^&*()+=/?<>]/.test(this.gamemaster)){
          this.roomStatus = 'noSpecialSigns';
        }
        else if(this.roomName.lenght > 30 || this.gamemaster > 30){
          this.roomStatus = 'toLong'
        }
        else {
          this.roomStatus = 'canCreate';
          this.canCreate = true;
        }
        this.showMessage = true;
        setTimeout(()=> this.showMessage = false, 3000);
      });
    },
    changeRoom() {
      this.showMessage = false;
      this.roomStatus = 'searching';
      this.canCreate = false;
    },
    postGameroom(){
          const roomToPost = this.GET_gameroom;
          this.axios.post( this.GET_serverAdress + "/newRoom", roomToPost)
            .then(response => {
              console.log(response);
               this.ACTION_getRoom(this.roomName);
               }
              );
    }
  }
}
</script>

