<template>
  <generic-card class="p-m-3">
    <form >
      <h1 class="p-text-center warhammerHeader">Join Room</h1>
      <div class="p-formgroup-block ">
        <div class="p-field p-d-flex p-jc-center">
          <label for="playername" class="p-sr-only" v-show="hide">Player Name</label>
          <InputText id="playername" @change="changeRoom" v-model.trim="playerName" type="text" placeholder="Player Name" />
        </div>
        <div class="p-field p-d-flex p-jc-center">
          <label for="roomname" class="p-sr-only" v-show="hide">Room Name</label>
          <InputText id="roomname" @change="changeRoom" v-model.trim="roomName"  type="text" placeholder="Room Name" />
        </div>
        <div id="buttonsJoin" class="p-d-flex p-jc-center">
          <generic-button mode="outline" type="button" @click="checkRoom" >Check</generic-button>
          <generic-button  :disabled="!canJoin || GET_isInRoom" type="button" @click="joinRoom">
            Join <i v-if="canJoin" class="pi pi-check"></i>
          </generic-button>

        </div>
          <div class="p-field-checkbox p-mt-2 p-ml-6">
            <Checkbox id="binary" v-model="logAsGamemaster" :binary="true" />
            <label for="binary">gamemaster</label>
        </div>
      </div>
      <div id="message" v-if="showMessage">
        <Message v-if="roomStatus === 'roomFound'" :severity="message.success.severity" :life="3000" :sticky="false"> {{message.success.content}} </Message>
        <Message v-if="roomStatus === 'roomNotFound'" :severity="message.roomNotFound.severity" :life="3000" :sticky="false"> {{message.roomNotFound.content}} </Message>
        <Message v-if="roomStatus === 'emptyPlayer'" :severity="message.emptyPlayer.severity" :life="3000" :sticky="false"> {{message.emptyPlayer.content}} </Message>
        <Message v-if="roomStatus === 'playerExist'" :severity="message.playerExist.severity" :life="3000" :sticky="false"> {{message.playerExist.content}} </Message>
        <Message v-if="roomStatus === 'roomAlredyHaveGM'" :severity="message.roomAlredyHaveGM.severity" :life="3000" :sticky="false"> {{message.roomAlredyHaveGM.content}} </Message>
        <Message v-if="roomStatus === 'partOfRoom'" :severity="message.partOfRoom.severity"  :life="3000" :sticky="false"> {{message.partOfRoom.content}} </Message>
        <Message v-if="roomStatus === 'noSpecialSigns'" :severity="message.noSpecialSigns.severity"  :life="3000" :sticky="false"> {{message.noSpecialSigns.content}} </Message>
        <Message v-if="roomStatus === 'toLong'" :severity="message.toLong.severity"  :life="3000" :sticky="false"> {{message.toLong.content}} </Message>
      </div>
    </form>
  </generic-card>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
export default {

  data() {
    return {
      message: {
        success: {severity: 'success', content: 'Room Found'},
        roomNotFound: {severity: 'error', content: 'Room Not Found'},
        emptyPlayer: {severity: 'error', content: 'Player Need Name'},
        playerExist: {severity: 'error', content: 'Name Already Exist'},
        roomAlredyHaveGM: {severity: 'error', content: 'Room Alredy Have GM'},
        partOfRoom: {severity: 'error', content: 'You already Part of Room'},
        noSpecialSigns: {severity: 'error', content: 'Name cannot have special sign'},
        toLong: {severity: 'error', content: 'Name can have lenght to 30 characters'}
      },
      roomName: '',
      playerName: '',
      roomStatus: '',
      logAsGamemaster: false,
      showMessage: false,
      hide: false,
      canJoin: false
    }
  },
  computed: {
    ...mapGetters(['GET_exist', 'GET_gameroomList', 'GET_isInRoom', 'GET_serverAdress']),
    roomLink() {
      return "/generalroom/" + this.roomName;
    }
  },
  methods: {
    ...mapMutations(['SET_gamemaster', 'SET_playerName', 
        'SET_gameroomName', 'SET_exist', 'SET_roomList']),
    ...mapActions(['ACTION_getRoom']),
    joinRoom() {  
    if(this.logAsGamemaster == true){
      this.axios.post( this.GET_serverAdress + "/newGamemaster?roomName=" + this.roomName +"&gamemasterName=" + this.playerName)
      .then(response => {
        console.log(response)
        this.ACTION_getRoom(this.roomName);
            setTimeout(() => {
              this.SET_gamemaster(this.playerName); } , 200);      
      });

    }else{
      this.axios.post( this.GET_serverAdress + "/newConnectedPlayer?roomName=" + this.roomName +"&playerName=" + this.playerName)
      .then(response => {
        console.log(response)
        this.ACTION_getRoom(this.roomName);
            setTimeout(() => {
              this.SET_playerName(this.playerName);} , 200);        
      });
      }

      this.$router.push(this.roomLink);
    },
    saveGameRoomList(roomList) {
      this.SET_roomList(roomList);
    },
    checkRoom() {
      this.axios.get(this.GET_serverAdress + "/roomList").then(response => { 
        this.saveGameRoomList(response.data);
        if( this.playerName === ''){ this.roomStatus = 'emptyPlayer'; }
        else if(/[;,.`~!@#$%^&*()+=/?<>]/.test(this.playerName)){ this.roomStatus = 'noSpecialSigns'; }
        else if(this.playerName.length > 30){ this.roomStatus = 'toLong'; }
        else if (this.GET_exist == true) { this.roomStatus = 'partOfRoom'; }
        else if(this.GET_gameroomList.includes(this.roomName)){
          const getURL = this.GET_serverAdress + "/playerList?name=" + this.roomName;
          this.axios.get(getURL).then(response => {       
              if( response.data.includes(this.playerName)){
                this.roomStatus = 'playerExist';
              } else {
                if(this.logAsGamemaster == true){
                  const getURL = this.GET_serverAdress + "/hasGameMaster?name=" + this.roomName;
                  this.axios.get(getURL).then(response => { 
                      if(response.data == true){
                        this.roomStatus = 'roomAlredyHaveGM';
                      }else{
                        this.roomStatus = 'roomFound';
                        this.canJoin = true;
                      }
                  })
                } else {
                  this.roomStatus = 'roomFound';
                  this.canJoin = true;
                }
              }
             });
        } else {
          this.roomStatus = 'roomNotFound';
        }
        this.showMessage = true;
        setTimeout(()=> this.showMessage = false, 3000);
      });
    },
    changeRoom() {
      this.showMessage = false;
      this.roomStatus = 'searching';
      this.canJoin = false;
    }
  }
};
</script>