<template>
    <generic-card>
        <div id="roomlist">
        <h1 class="warhammerHeader">  List of Rooms </h1>
        <ul v-if="!hasGamerooms">
            <li v-for="(gameroom, index) in GET_gameroomList" :key="index">
                {{gameroom}}
            </li>
        </ul>
        <h3 v-else> No gamerooms found </h3>
        </div>
    </generic-card>
</template>

<script> 
import { mapGetters } from 'vuex';
export default {
    computed: {
        ...mapGetters(['GET_gameroomList', 'GET_serverAdress']),
        hasGamerooms() {
            return (this.GET_gameroomList > 0) ? true: false;
        }
    },
    mounted() {
        this.axios.get( this.GET_serverAdress + "/roomList")
        .then(response => { 
            this.$store.commit('SET_roomList', response.data);
    })
    }
}
</script>

<style scoped>
#roomlist {
    width: 400px;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
    margin-left: -10%;
    text-align: center;
}

</style>